/* src/components/Header/Header.module.css */

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  width: 100%;
  z-index: 1000;
  position: relative;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
}

.logoButton,
.userMenuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.jumpLogo {
  width: 104px;
  height: 32px;
}

.userMenuButton {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1003;
}

.icon {
  margin-right: var(--spacing-small);
}

.iconContainer {
  position: relative;
  width: 32px;
  height: 32px;
}

.hamburgerIcon,
.closeIcon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hamburgerMenu {
  display: none;
  position: fixed;
  top: var(--header-height, 60px);
  right: 0;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 40px;
  width: 250px;
  z-index: 1001;
  height: calc(100vh - var(--header-height, 60px));
  overflow-y: auto;
}

.hamburgerMenu.menuOpen {
  display: block;
}

.menuHeader {
  display: flex;
  align-items: center;
  padding: var(--spacing-medium);
  border-bottom: 1px solid var(--integration-content-border-color);
}

.userName {
  margin-left: var(--spacing-medium);
  font: var(--user-name);
  color: var(--text-color-primary);
  flex-grow: 1;
}

.hamMenuItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamMenuItems li {
  padding: var(--spacing-medium);
  border-bottom: 1px solid var(--integration-content-border-color);
  display: flex;
  align-items: center;

  justify-content: flex-start;
}

.hamMenuItems li:last-child {
  border-bottom: none;
}

.hamMenuItems a {
  color: var(--text-color-primary);
  text-decoration: none;
  font: var(--user-menu-text);
  margin-left: var(--spacing-medium);

  display: flex;
  align-items: center;
}

.customerLogo {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  position: relative;
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px; /* Adjust as needed */
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}


@media (max-width: 768px) {
  .hamburgerMenu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform var(--transition-speed, 0.3s) ease;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 1002;
  }

  .hamburgerMenu.menuOpen {
    transform: translateX(0);
  }

  .menuHeader {
    padding: var(--spacing-large);
  }

  .hamMenuItems li {
    padding: var(--spacing-large);
  }

  .topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
  }

  .userMenuButton {
    position: fixed;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
  }
}